<div id="whole" class="wrapper wrapper-content">
  <div class="ibox">
    <div id="ibox" class="ibox-content">


      <dx-data-grid #grid id="gridContainer" [dataSource]="feeds" [paging]='{enabled: pagingEnabled,pageSize: 7}' [pager]='{showPageSizeSelector: true,allowedPageSizes: [5, 10, 15]}'
        [columnAutoWidth]="true" [allowColumnReordering]="true" [allowColumnResizing]="true" [columnAutoWidth]="true" [hoverStateEnabled]="true"
        (onToolbarPreparing)="onToolbarPreparing($event)" (onRowClick)="goToPost($event)" (onRowPrepared)="onRowPrepared($event)">

        <div *dxTemplate="let data of 'gridTitle'">
          <div class="row-md-12">
            <h2 id="pageTitle">Job Board </h2>
          </div>
        </div>

        <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
        <dxo-search-panel [visible]="true" [width]="200" placeholder="Search..."></dxo-search-panel>
        <dxi-column caption="" [width]="50"></dxi-column>
        <dxo-filter-row [visible]="showFilterRow"></dxo-filter-row>

        <dxi-column dataField="title" [width]="200" caption="Title"></dxi-column>
        <dxi-column dataField="author" caption="Posting Department"></dxi-column>
        <dxi-column dataField="pubDate" dataType="date" caption="Published"></dxi-column>
        <dxi-column dataField="date" dataType="date" caption="Last Updated"></dxi-column>
        <dxi-column dataField="description" caption="Description"></dxi-column>


      </dx-data-grid>

    </div>
  </div>
</div>