.ibox-content {
  background-color: white;
  color: inherit;
  padding: 15px 20px 20px 20px;

  border-color: grey;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
  clear: both;
}

.ibox-content h1, .ibox-content h2, .ibox-content h3, .ibox-content h4, .ibox-content h5,
.ibox-title h1, .ibox-title h2, .ibox-title h3, .ibox-title h4, .ibox-title h5 {
  margin-top: 5px;
}

.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

#wrapper {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.wrapper {
  padding: 0 20px;
}

.wrapper-content {
  padding: 20px 10px 40px;
}

#pageTitle {
    color: firebrick;
}